
<form class="form-inline my-2 my-lg-0" id="form1">
  <h1  id="Htitle">Sports Store Management</h1> 
    <ul class="list-unstyled" id="ullist">
      <li class="media">
        <!-- <img class="mr-3" src="assets/images/customers.jpg" alt="Generic placeholder image" height="90"width="90"> -->
        <div class="media-body">
          <h5 class="mt-0 mb-1">Customer Management</h5>
          <p>
            Customer Management is a tool that is used to manage the customer details.The customers
            are people who buys things in the Sports Store.Seller can manage their details.
          </p>
        </div>
      </li>
      <li class="media my-4">
        <!-- <img class="mr-3" src="assets/images/items.jpg" alt="Generic placeholder image" height="90"width="90"> -->
        <div class="media-body">
          <h5 class="mt-0 mb-1">Item Management</h5>
         <p> Item Management is a pool of Sport's items that has all items to belonging to the different sports.Seller can Manage the 
          items and can manually edit the items in the item Management controller
        </p></div>
      </li>
      <li class="media">
        <!-- <img class="mr-3" src="assets/images/order.jpg" alt="Generic placeholder image" height="90"width="90"> -->
        <div class="media-body">
          <h5 class="mt-0 mb-1">Order Management</h5>
         <p>
           Order Management contains the orders received by the Sports store website.Those orders are ordered by various people throgh out the country.
           Seller can view that orders and can do their opeartions accordingly.
         </p>
        </div>
      </li>
    </ul>
  </form>
