form,body{
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    display:block;
    align-items: center;
}
input{
    width: 250px;
    box-sizing: border-box;
    border:2px solid black;
}
input:focus{
    background-color: lightblue;
}
label{
    padding: 12px 12px 12px 0;
    display: inline-block;
}
.container{
    border-radius: 5px;
    background-color: #e2d5e6;
    background-image: linear-gradient(315deg, #e2d5e6 0%, #e1d4e6 74%);
    
   /* url("/assets/images/bg2.jpg"); */
    padding: 20px;
    height: 100%;
    max-width: 800px;
    color: darkslategray;
   
}
.btn{
    background-color:lightskyblue;
    color: black;
    
}
p{
    color: black;
}