<div class="add"><a routerLink="/ordermanagement/addorder" routerLinkActive="active" class="btn btn-light"> <span><img src="assets/images/plus.svg" class="search"/></span>&nbsp;Add Order</a>
</div>
<div class="list"><a routerLink="/ordermanagement" routerLinkActive="active" class="btn btn-light"> <span><img src="assets/images/card.png" class="search"/></span>&nbsp;Card View</a>
</div>
<div class="container">
    <div class="container-fluid">
    
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th>
                    orderNumber
                </th>
                <th>
                    orderDate
                </th>
                <th>
                    customerNumber
                </th>
                <th>
                    itemNumber
                </th>
                <th>
                    deliveryDate
                </th>
                <th>
                    paymentMode
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of or">
                <td>{{item.orderNumber}}</td>
                <td>{{item.orderDate}}</td>
                <td>$.{{item.customerNumber}}</td>
                <td>{{item.itemNumber}}</td>
                <td>{{item.deliveryDate}}</td>
                <td>{{item.paymentMode}}</td>
        
            </tr>
        </tbody>
        
        
        
        </table>
    </div>
    </div>
